################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MyWeb/MyWeb
/MyWeb/.vs/MyWeb/config
/MyWeb/.vs/MyWeb/v17/.suo
/MyWeb/.vs/MyWeb/DesignTimeBuild
