################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MyWeb/MyWeb
/MyWeb/.vs/MyWeb/config
/MyWeb/.vs/MyWeb/v17/.suo
/MyWeb/.vs/MyWeb/DesignTimeBuild
/MyWeb/MyController/bin/Debug/net6.0
/MyWeb/MyController/obj/Debug/net6.0
*.user
*.vsidx

/MyWeb/MyController/obj/Debug/net6.0/ref/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/refint/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.csproj.CoreCompileInputs.cache
/MyWeb/MyController/obj/Debug/net6.0/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyController/obj/Debug/net6.0/MyController.pdb
/MyWeb/MyController/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/.vs/MyWeb/FileContentIndex/2bb1ebd5-b5d0-4c7a-81f1-cccc5e905c51.vsidx
/MyWeb/MyController/obj/Debug/net6.0/MyController.csproj.CoreCompileInputs.cache
/MyWeb/MyController/obj/Debug/net6.0/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyController/obj/Debug/net6.0/MyController.pdb
/MyWeb/MyController/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/MyController/obj/Debug/net6.0/ref/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/refint/MyController.dll
/MyWeb/.vs/MyWeb/FileContentIndex/2bb1ebd5-b5d0-4c7a-81f1-cccc5e905c51.vsidx
/MyWeb/.vs/MyWeb
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets/msbuild.MyController.Microsoft.AspNetCore.StaticWebAssets.props
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.pack.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets/msbuild.MyController.Microsoft.AspNetCore.StaticWebAssets.props
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.pack.json
