################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MyWeb/MyWeb
/MyWeb/.vs/MyWeb/config
/MyWeb/.vs/MyWeb/v17/.suo
/MyWeb/.vs/MyWeb/DesignTimeBuild
/MyWeb/MyController/bin/Debug/net6.0
/MyWeb/MyController/obj/Debug/net6.0
*.user
*.vsidx

/MyWeb/MyController/obj/Debug/net6.0/ref/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/refint/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.csproj.CoreCompileInputs.cache
/MyWeb/MyController/obj/Debug/net6.0/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyController/obj/Debug/net6.0/MyController.pdb
/MyWeb/MyController/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/.vs/MyWeb/FileContentIndex/2bb1ebd5-b5d0-4c7a-81f1-cccc5e905c51.vsidx
/MyWeb/MyController/obj/Debug/net6.0/MyController.csproj.CoreCompileInputs.cache
/MyWeb/MyController/obj/Debug/net6.0/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/MyController.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyController/obj/Debug/net6.0/MyController.pdb
/MyWeb/MyController/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/MyController/obj/Debug/net6.0/ref/MyController.dll
/MyWeb/MyController/obj/Debug/net6.0/refint/MyController.dll
/MyWeb/.vs/MyWeb/FileContentIndex/2bb1ebd5-b5d0-4c7a-81f1-cccc5e905c51.vsidx
/MyWeb/.vs/MyWeb
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets/msbuild.MyController.Microsoft.AspNetCore.StaticWebAssets.props
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.pack.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets/msbuild.MyController.Microsoft.AspNetCore.StaticWebAssets.props
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyController/obj/Debug/net6.0/staticwebassets.pack.json
*.bin
/MyWeb/MyView/bin/Debug/net6.0
/MyWeb/MyView/obj/Debug/net6.0/ref
/MyWeb/MyView/obj/Debug/net6.0/refint
/MyWeb/MyView/obj/Debug/net6.0/scopedcss
/MyWeb/MyView/obj/Debug/net6.0/staticwebassets
/MyWeb/MyView/obj/Debug/net6.0/apphost.exe
/MyWeb/MyView/obj/Debug/net6.0/MyView.assets.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.csproj.AssemblyReference.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.csproj.CopyComplete
/MyWeb/MyView/obj/Debug/net6.0/MyView.csproj.CoreCompileInputs.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.csproj.FileListAbsolute.txt
/MyWeb/MyView/obj/Debug/net6.0/MyView.dll
/MyWeb/MyView/obj/Debug/net6.0/MyView.genruntimeconfig.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.MvcApplicationPartsAssemblyInfo.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.pdb
/MyWeb/MyView/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/MyView/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyView/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyView/obj/Debug/net6.0/staticwebassets.pack.json
/MyWeb/MyView/obj/MyView.csproj.nuget.dgspec.json
/MyWeb/MyView/obj/MyView.csproj.nuget.g.props
/MyWeb/MyView/obj/project.assets.json
/MyWeb/MyView/obj/project.nuget.cache
/MyWeb/MyView/obj/Debug/net6.0/MyView.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyController/obj/MyController.csproj.nuget.dgspec.json
/MyWeb/MyController/obj/project.assets.json
/MyWeb/MyController/obj/project.nuget.cache
/MyWeb/MyWeb/obj/MyWeb.csproj.nuget.dgspec.json
/MyWeb/MyWeb/obj/project.assets.json
/MyWeb/MyWeb/obj/project.nuget.cache
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.assets.cache
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.GeneratedMSBuildEditorConfig.editorconfig
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/project.razor.vs.json
/MyWeb/MyModel_DBFirst/obj/MyModel_DBFirst.csproj.nuget.dgspec.json
/MyWeb/MyModel_DBFirst/obj/project.assets.json
/MyWeb/MyModel_DBFirst/obj/project.nuget.cache
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/ref/MyModel_DBFirst.dll
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/refint/MyModel_DBFirst.dll
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/apphost.exe
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.csproj.BuildWithSkipAnalyzers
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.csproj.CoreCompileInputs.cache
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.csproj.FileListAbsolute.txt
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.dll
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.genruntimeconfig.cache
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/MyModel_DBFirst.pdb
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/staticwebassets.build.json
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/staticwebassets.development.json
/MyWeb/MyModel_DBFirst/obj/Debug/net6.0/staticwebassets.pack.json
/MyWeb/MyModel_DBFirst/bin/Debug/net6.0/MyModel_DBFirst.dll
/MyWeb/MyModel_DBFirst/bin/Debug/net6.0/MyModel_DBFirst.exe
/MyWeb/MyModel_DBFirst/bin/Debug/net6.0/MyModel_DBFirst.pdb
/MyWeb/MyModel_DBFirst/bin/Debug/net6.0/MyModel_DBFirst.staticwebassets.runtime.json
*.BuildWithSkipAnalyzers
/MyWeb/MyController/obj/Debug/net6.0/apphost.exe
