
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAry</title>
</head>
<body>
    <h1>@ViewData["Show"]</h1>
</body>
</html>
