@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<form action="../SampleBind/Create" method="post">
    <p>商品ID:<input type="text" name="ID" placeholder="輸入商品ID" /></p>
    <p>商品名字:<input type="text" name="Name" placeholder="輸入商品名字" /></p>
    <p>商品價格:<input type="text" name="Price" placeholder="輸入商品價格" /></p>
    <p><input type="submit" name="新增商品" /></p>
</form>
<br />  
@ViewData["Show"]

